# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.txt

#repos specific
lib/*
bin/*
include/*
*/bin/*
*/obj/*
*.zip
*.rar

#python tools
tools/*/*.pyc
tools/*/.idea/*.xml
tools/*/.idea/scopes/*
tools/*/.idea/inspectionProfiles/*

#ide files
*.depend
*.layout

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.def