# Compiled Object files
*.slo
*.lo
*.o
*.obj

#repos specific
lib/*
bin/*
include/*
*.zip
*.rar

#ide files
*.depend
*.layout

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.def